
html{
  box-sizing: border-box;
}
nav {
  text-align: center;
  font-family: 'fontin_sans_rgregular';
}
nav a {
  color: #4E3063;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1em 2.7em;
  font-size: 1.3em;
}
.hamburger {
  display: none;
}
.navSmall{
  display: none;
}
header {
    background-image: url(../assets/skyBackground.jpeg);
    background-position: center;
    background-size: cover;
    height: 50em;
    margin-bottom: 4em;
    margin-top: 12px;
    background-attachment: fixed;
    font-family: 'fontin_sans_rgregular';
}
h1 {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'fontin_sans_rgbold';
  padding-top: 2em;
  font-size: 4em;
  color: #4E3063;
}

.emailSubSmall {
  display: none;
}
.LogoHeader {
  background-color: #B26EE3;
  height: 25em;
  width: 25em;
  border-radius: 50%;
  margin: auto;
}
main {
  font-family: 'fontin_sans_rgregular';
}
#myMusicTitle {
  border: solid 1px;
  margin-bottom: 3.5em;
}
#logo {
  font-size: 10em;
  position: relative;
  left: 114px;
  top: 75px;
}
.circlePhoto {
  background-image: url(../assets/Mario-Staff.jpg);
  background-position: center;
  background-size: cover;
  height: 25em;
  width: 25em;
  border-radius: 50%;
  margin: auto;
}
h2 {
  text-align: center;
  margin-bottom: 1.5em;
  font-family: 'fontin_sans_rgbold';
}
#favtext {
  text-align: center;
  font-size: 3em;
}
/* .aboutMeThree {
  display: flex;
} */
footer {
  background-color: #B26EE3;
  text-align: center;
  height: 190%;
  width: 100%;
}
.skills {
  padding: 0 2em;
}
#biography {
  padding: 0 2em;
}
.skillsBox {
  display:flex;
  justify-content: space-between;
  
}
#skillsList{
  width:60%;
}
p {
  line-height: 1.5em;
}
#aboutP {
  width: 40em;
  text-align: center;
  margin: auto;
}
#skillsTestimonials p {
  margin-left: 0;
  margin-right: 0;
  display: none;
}

#skillsTestimonials p:first-of-type {
  display: block;
}
#skillsTestimonials{
  width:35%;
  text-align: center;
  background-color: #D3B6E8;
  margin: 5em 0 1em 1em;
}
#skillsList  div{
  display: flex;
  width:100%;
  padding:1em;
  justify-content:flex-start;
}
.begAdv {
  display: flex;
  justify-content: flex-end;
}
h4 {
  padding: 0 2.5em;
}
.bar{
  width: 0;
  background-color: #4E3063;
  background: 
  linear-gradient(225deg, transparent 10px, #4E3063 0) top right,
  linear-gradient(315deg, transparent 10px, #4E3063 0) bottom right;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  color: #D3B6E8;
}
#soundclouddiv {
  background-color: #D3B6E8;
  padding: 2em 1em 3.9em 1em;
}

#hipshop{
  /* margin-bottom: 1.2em; */
  padding-top: 1.8em;
}
ul {
  list-style-type: none;
  font-size: 1.5em;
  /* padding-left: 0; */
  display: flex;
  justify-content: center;
}
ul a {
  padding: 1em;
}
.cloud{
  position:absolute;
  color:white:;
}
form {
  margin: auto;
  padding: 0 5em 5em 4em;
}
.inputTop {
  display: flex;
  justify-content: space-between;
  width: 100%
}
.inputTop input{
  width: 100%;
  /* width: 50%; */
  height: 2em;
  margin: 1em 0;
  border: solid 2px;
  border-color: #B26EE3;
  padding: 0 .75em;
}
#email {
  margin-left: .5em;
}
.inputTop:first-child{
  margin-right: .5em;
}
.inputBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
textarea {
  border: solid 2px;
  border-color: #B26EE3;
  height: 9em;
  padding-left: .75em;
  width: 100%;
}
#submit {
  margin-top: 1em;
  border: solid 2px;
  border-color: #B26EE3;
  height: 3em;
  background-color: 
}
.social i {
  padding: .2em .3em 0 0;
}
#copyright {
  margin-top: 1em;
}
/*=====================================================
effects
=======================================================
*/
a,
a:hover,
a:focus,
a:active,
a.active {
  font-weight: bold;
  text-decoration: underling;
  transition: all .3s ease-in-out;
}
}
button:hover {
  font-weight: bolder;
  text-decoration: underline;
  border: solid 3px;
  background-color: #D3B6E8;
  height: 3em;
}
#submit:hover {
  font-weight: bolder;
  text-decoration: underline;
  border: solid 3px;
  background-color: #D3B6E8;
  height: 3em;
}
/*=====================================================
media query's
=======================================================
*/

@media only screen and (max-width: 500px){
  .hamburger {
  	display: block;
  	color: #4E3063;
    font-size: 1.7rem;
  	position: absolute;
  	top: 8px;
  	left: -25px;
    }
  nav a {
    display: none;
    }
    .aboutMeThree {
      display: inline-block;
      justify-content: center;
    }
    ul {
      display: flex;
    }
    #aboutP {
      width: 22em;
    }
    iframe {
      height: 300px;
    }
    .navSmall {
      display: none;
      background-color: #D3B6E8;
      font-size: 2em;
      text-align: right;
    }
    .navSmall a {
      margin: 0 .7em;
    }