header {
    background-image: url(../assets/skyBackground.jpeg);
    background-position: center;
    background-size: cover;
    height: 50em;
    margin-bottom: 8em;
    margin-top: 12px;
    background-attachment: fixed;
}