
html{
  box-sizing: border-box;
}
nav {
  text-align: center;
  font-family: 'fontin_sans_rgregular';
}
nav a {
  color: #4E3063;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1em 2.7em;
  font-size: 1.3em;
}
.hamburger {
  display: none;
}
header {
    background-image: url(../assets/skyBackground.jpeg);
    background-position: center;
    background-size: cover;
    height: 50em;
    margin-bottom: 8em;
    margin-top: 12px;
    background-attachment: fixed;
    font-family: 'fontin_sans_rgregular';
}
/* h1 {
  font-family: 'fontin_sansbold_italic';
} */
.emailSubSmall {
  display: none;
}
.LogoHeader {
  background-color: #B26EE3;
  height: 25em;
  width: 25em;
  border-radius: 50%;
  margin: auto;
}
main {
  font-family: 'fontin_sans_rgregular';
}
#myMusicTitle {
  border: solid 1px;
  margin-bottom: 3.5em;
}
#logo {
  font-size: 10em;
  position: relative;
  left: 114px;
  top: 75px;
}
.centered {
  text-align: center;
  margin-bottom: 2.5em;
}
.circlePhoto {
  background-image: url(http://via.placeholder.com/350x150);
  height: 25em;
  width: 25em;
  border-radius: 50%;
  margin: 2em;
}
h2 {
  text-align: center;
  margin-bottom: 1.5em;
}
.aboutMeThree {
  display: flex;
}
footer {
  background-color: #B26EE3;
  text-align: center;
  height: 190%;
  width: 100%;
}
.skills {
  padding: 0 2em;
}
#biography {
  padding: 0 2em;
}
.skillsBox {
  display:flex;
  justify-content: space-between;
  
}
#skillsList{
  width:60%;
}
#skillsTestimonials{
  width:30%;
  text-align: center;
  background-color: #D3B6E8;
  margin: 5em 0 1em 0;
}
#skillsList  div{
  display: flex;
  width:100%;
  padding:1em;
  justify-content:flex-start;
}
.begAdv {
  display: flex;
  justify-content: flex-end;
}
h4 {
  padding: 0 2.5em;
}
.bar{
  width: 0;
  background-color: #4E3063;
  background: 
  linear-gradient(225deg, transparent 10px, #4E3063 0) top right,
  linear-gradient(315deg, transparent 10px, #4E3063 0) bottom right;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  color: #D3B6E8;
}
ul {
  list-style-type: none;
  font-size: 1.5em;
  padding-left: 0;
}
ul li {
  padding: 1em;
}
.cloud{
  position:absolute;
  color:white:;
  
}
@media only screen and (max-width: 500px){
  .hamburger {
  	display: block;
  	color: #fff;
    font-size: 1.7rem;
  	position: absolute;
  	top: 8px;
  	left: -25px;
    }
  nav a {
    display: none;
    }
    .aboutMeThree {
      display: inline-block;
      justify-content: center;
    }
    ul {
      display: flex;
    }
